<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567472457041-v8mv9101macc3p0pl35cc7b78eap6nf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567472457041-v8mv9101macc3p0pl35cc7b78eap6nf2</string>
	<key>API_KEY</key>
	<string>AIzaSyDogywjnlJ7dCVsbgUqWxW-0Q_QwoKG0Tk</string>
	<key>GCM_SENDER_ID</key>
	<string>567472457041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.banco2</string>
	<key>PROJECT_ID</key>
	<string>banco-f4f66</string>
	<key>STORAGE_BUCKET</key>
	<string>banco-f4f66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567472457041:ios:7bae155828f00a390f3f70</string>
	<key>DATABASE_URL</key>
	<string>https://banco-f4f66-default-rtdb.firebaseio.com</string>
</dict>
</plist>